
.menuh{
    background: #00378B;    /* couleur fond */
    width: 100%;            /* taille de la boite */
    height: 66px;           /* hauteur boite */
    line-height: 66px;      /* espace entre les lignes de texte */
}

.m-left{
    float: left;
    
}

.logo{
    margin: 0;padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Audiowide';
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px;
    
}

.m-right{
    float: right;
}

.m-link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: 700;
    padding: 0;margin: 0 15px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.m-link:hover{
    border-color: #fff;
    color: #5CE9F5;
}

.m-link i{
    margin-right: 5px;
}

.m-nav-toggle{
    width: 40px;
    height: 66px;
    
    display: none;
    align-items: center;
    float: right;
    cursor: pointer;
}
span.m-toggle-icon, span.m-toggle-icon::before, span.m-toggle-icon::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-out;
}
span.m-toggle-icon::before{top: 12px}
span.m-toggle-icon::after{top: -14px}

.m-right.is-open{
    transform: translateX(0);
}
.m-nav-toggle.is-open span.m-toggle-icon{
    background: transparent;
}
.m-nav-toggle.is-open span.m-toggle-icon::before,.m-nav-toggle.is-open span.m-toggle-icon::after{
    transform-origin: center;
    transform: rotate(45deg);
    top: 0;
}
.m-nav-toggle.is-open span.m-toggle-icon::before{
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1060px){
    .m-right{
        position: absolute;
        top: 66px;right: 0;
        width: 200px;
        height: 200%;
        background: #00378B;  
        transform: translateX(100%);
        transition: all 0.3s ease-out;
        z-index: 1000;
    }
    .m-link{
        display: block;
        text-align: center;
        padding: 0;margin: 0 20px;
        height: 55px
    }
    .m-nav-toggle{
        display: flex
    }
}